#about .description{
    width: 65%;
    height: 40vh;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
}

#about .image, #about .details {
    height: 100%;
    box-sizing: border-box;
}

.image {
    /* border-right: 2px solid var(--highlight); */
    display: grid;
    place-items: center;
    overflow: hidden;
    order: 1;

}

#about .image > img {
    height: 330px;
}

.details {
    padding-left: 30px;
}

#about p {
    color: var(--background);
    margin: 15px 0 15px 0;
}

#about h2, #about h3 {
    color: var(--highlight);
}

#about .skills{
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
}

#about .skills ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

#about .skills li {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    color: var(--background);
}

#about button {
    position: relative;
    top: 2%;
}

@media only screen and (max-width: 575px) {

    #about .description{
        width: calc(100dvw - 4%);
        display: flex;
        flex-direction: column;
        height: fit-content;
        padding: 0 3%;
    }

    #about .description > * {
        padding: 0;
    }
    #about img {
        height: 360px;
        width: 260px;
        display: none;
    }
    #about h2{
        display: block;
    }

    #about button {
        margin-top: 5%;
    }
}