#services #s-list {
    /* background-color: blue; */
    height: 60vh;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#services h2, #services h3 {
    color: var(--highlight);
}

#services p {
    color: var(--background);
}

#services h3 {
    color: var(--highlight);
}

#services h3, #services p {
    margin-top: 10px;
    line-height: 1.2;
}

#services .listing {
    margin-top: 15px;
    display: grid; 
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
    row-gap: 35px;
}

#services .listing > * {
    background-color: var(--card-color);
    height: 18vh;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: 1px solid var(--highlight);
    border-radius: 10px;
    overflow: hidden;
}



#services i{
    font-size: 2rem;
    overflow: hidden;
    color: rgb(183, 189, 187);
}

@media only screen and (max-width: 575px) {
    #services {
        height: fit-content !important;
        overflow: auto;
        display: flex;
        padding: 0 3%;
        padding-top: 10vh;
    }

    #services h2 {
        margin-bottom: 0;
    }

    #services > * {
        width: calc(100vw - 4%) !important;
        height: fit-content !important;
    }
    #services .listing {
        display: flex;
        flex-direction: column;
    }

    #services .listing > * {
        height: 20vh;
    }

    #services p {
        width: 95%;
        line-height: 1.4;
    }
}