:root {
    --surface: #010a13;
    --highlight: aquamarine;
    --text-color: white;
    --background:  #f0ffffa6;
    --card-color: #02051ac7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    padding: 1% 2% 1% 2%;
    background-color: var(--surface);
    color: var(--text-color);
    width: 100vw;
}

h1 {
    font-size: 5rem;
}
h2{
    font-size: 1.8rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}
header {
    padding: 1% 2% 1% 2%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

header, nav, nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav, ul {
    gap: 2rem;
    list-style: none;
}

nav ul > li, nav > button > span{
    text-decoration: none;
    text-transform: capitalize;
}

nav ul > li a:hover {
    color: var(--highlight);
    transition: .3s;
}

#socials {
    position: fixed;
    left: 2%;
    bottom: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 30vh;
    width: fit-content;
}

#gmail-button {
    position: fixed;
    right: 2%;
    bottom: 2%;
}

button {
    background-color: transparent;
    border: none;
    border-radius: 3px;
    border: 1px solid var(--highlight);
    height: 30px;
    width: 100px;
    color: var(--text-color);
    padding: 3px;
    box-sizing: border-box;
    font-weight: bolder;
    cursor: pointer;
}

button:hover{
    color: var(--surface);
    background-color: var(--highlight);
    border: 1px solid var(--surface);
    transition: .3s;
}

section {
    display: grid;
    place-items: center;
    height: 96vh;
    box-sizing: border-box;
}

.ph-line-vertical {
    width: 2px;
    background-color: var(--background);
    position: relative;
    left: 2%;
}

#gmail-button .ph-line-vertical {
    background-color: transparent;
}


/* #footer {
    height: 20vh;
    margin-top: 2.5rem;
}

#footer footer {
    width: 65%;
}

#footer h2 {
    margin-bottom: 10px;
} */

footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

footer > .content {
    width: 65%;
}

footer > .content p {
    margin-bottom: 30px;
}

footer h6 {
    margin-top: 22px;
    color: rgb(78, 78, 78);
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 1.5rem;
    height: 1.5rem;
    overflow: hidden;


}

#socials p:hover, #gmail-button p:hover{
    color: var(--highlight);
    transition: .3s;
    transform: translateY(-24%);
}

#socials p, #gmail-button p{
    padding-top: 10px;
}

#ham-menu {
    display: none;
}
#socials-footer {
    display: none;
}

#navbar-mobile {
    display: none;
}
@media only screen and (max-width: 575px) {
    #ham-menu {
        display: block;
        cursor: pointer;
        z-index: 1000;
    }
    html {
        font-size: .875rem;
    }

        h1 {
        font-size: 1.5rem; /* 24px */
    }

    h2 {
        font-size: 1.25rem; /* 20px */
    }

    h3 {
        font-size: 1.125rem; /* 18px */
    }

    h4 {
        font-size: 1rem; /* 16px */
    }

    h5 {
        font-size: 0.875rem; /* 14px */
    }

    h6 {
        font-size: 0.75rem; /* 12px */
    }

    header {
        align-items: center !important;
        margin-top: 2%;
        overflow-y: hidden;
        z-index: 10;
        box-shadow: #02051ac7;
        height: fit-content !important;
    }

    header h2, header i{
        font-size: 2rem;
    }

    
    header i {
        position: absolute;
        right: 2%;
        top: 10px;
        height: inherit;
    }

    #navbar {
        display: none;
    }

    #navbar-mobile{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
    }

    #navbar-mobile {
        justify-content: center;
        align-items: center;
        height: 100dvh;
        width: 0;
        background-color: var(--card-color);
        transform: translateX(100%);
        transition: .3s ease;
    }

    #navbar-mobile.active{
        transition: .3s ease;
        width: 65%;
        transform: translateX(0);
    }
    #navbar-mobile ul {
        display: flex;
        flex-direction: column;
        height: 40%;
        width: 60%;
        font-size: 1.5rem;
        padding: 10px;
    }

    #socials, #gmail-button {
        display: none;
    }

    footer {
        margin-top: 10vh;
        display: block;
        margin-left: 3%;
        margin-bottom: 15px;
    }

    footer #socials-footer {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    footer #socials-footer i {
        font-size: 1.3rem;
        color: var(--background);
    }

    footer p {
        margin: 10px;
        text-align:initial;
    }
}

